<% include partials/top %>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<h2><%=court.name%></h2>
<div class="ui center aligned basic segment">
    <div><%-court.map%></div>
    <h4><%=court.location%></h4>
</div>

<h4 class="ui horizontal divider header">
  <i class="comment outline icon"></i>
  Comments
</h4>
<div class="ui comments" style="margin: 0 auto;">
    <form class="ui reply form" action="/courts/<%=court.id%>/comments" method="POST">
      <div class="field">
        <textarea name="comment"></textarea>
      </div>
      <button class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Add Comment
      </button>
    </form>
  <% court.comments.forEach(function(comment){ %>
      <div class="comment">
    <div class="content">
      <a class="author"><%=comment.creator.username%></a>
      <div class="metadata">
        <span class="date"></span>
      </div>
      <div class="text">
        <%=comment.text%>
      </div>
      <% if(activeUser && comment.creator.id.equals(activeUser.id)){ %>
        <div class="actions">
          <a id="delete">Delete</a>
        </div>
        <% } %>
        
        <script>
          $(document).ready(function(){
            $(".delete").click(function(){
              if (!confirm("Do you want to delete")){
                return false;
              }
            });
          });
        </script>
      <!--<div class="actions">-->
      <!--  <a class="reply">Reply</a>-->
      <!--</div>-->
    </div>
  </div>
  <% }); %>
  
</div>

<% include partials/bot %>