<% include partials/top %>

<h2><%=court.name%></h2>
<div class="ui center aligned basic segment">
    <div><%-court.map%></div>
    <h4><%=court.location%></h4>
    <h4><%=court.details %></h4>
</div>

<h4 class="ui horizontal divider header">
  <i class="comment outline icon"></i>
  Comments
</h4>

<div class="ui comments" id="commentArea">
    <form class="ui reply form" action="/courts/<%=court.id%>/comments" method="POST">
      <div class="field">
        <textarea name="comment"></textarea>
      </div>
      <button class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Add Comment
      </button>
    </form>
  <% court.comments.forEach(function(comment){ %>
      <div class="comment">
    <div class="content">
      <a class="author"><%=comment.creator.username%></a>
      <div class="metadata">
        <span class="date"></span>
      </div>
      <div class="text">
        <%=comment.text%>
      </div>
      <% if(activeUser && comment.creator.id.equals(activeUser.id)){ %>
        <div  class="actions">
          <a id="pop">Delete</a>
        </div>
        <% } %>
      <div class="actions">
        <a id="popE">Edit</a>
      </div>
    </div>
  </div>
  <div class="see" id="confirm">
    <p>Are you sure you want to delete this comment?</p>
    <form action="/courts/<%=court.id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
      <button class="ui button">Yes</button>
    </form>
    <a id="nope" class="ui button">No</a>
  </div>
  
  <div class="see" id="edit">
    <form action="/courts/<%=court.id%>/comments/<%=comment.id%>?_method=PUT" method="POST">
      <input type="text" name="comment[text]" placeholder="<%=comment.text%>">
      <button class="ui button">Edit</button>
    </form>
    <a id="nopeE" class="ui button">Cancel</a>
  </div>
  <% }); %>
  
</div>

<div class="see" id="shade"></div>

<script>
    $("#pop").click(function(){
     $("#shade").toggleClass("see");
     $("#confirm").toggleClass("see");
    });
    $("#nope").click(function(){
     $("#shade").toggleClass("see");
     $("#confirm").toggleClass("see");
    });
    
    $("#popE").click(function(){
     $("#shade").toggleClass("see");
     $("#edit").toggleClass("see");
    });
    $("#nopeE").click(function(){
     $("#shade").toggleClass("see");
     $("#confirm").toggleClass("see");
    });
  </script>


<% include partials/bot %>